<div class="container" id="logo_container">
    <a href="/" id="logo">Style Me</a>
</div>

<div class="container buildOutfit">
    <!--row for h2 title-->
    <div class="row">
        <div class="col-sm-12">
            <h2 class="buildHeader">Build Outfit</h2>
            <h2 class="buildQoute">"Find your best look" </h2>
            <a href="/catalog" class="btn btn-outline-secondary buildBtn">SEE CATALOGS</a>
            <a href="/addnew" class="btn btn-outline-secondary buildBtn">ADD NEW ITEM</a>
        </div>
    </div>


    <div class="row">
        <div class="col-md-4">
            <div class="container">
                <form id="searchOutfit" style="margin-top:2px;">
                    <div class="row">
                        <span class="algolia-autocomplete"
                            style="position: relative; display: inline-block; direction: ltr"></span>
                        <input type="search" class="form-control ds-input" id="search-input"
                            placeholder="Search Outfits..."
                            style="padding:10px;position: relative; vertical-align: top; border-style:solid; border-color:grey; border-width:2px; margin-bottom: -7px;" />
                    </div>
                </form>
                <div class="row">
                    <div class="dropdown">
                        <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdown"
                            data-bs-toggle="dropdown" aria-expanded="false"
                            style="padding: 10px; position:vertical-align:top; padding-right:20px; margin-left:0%; border-style:solid; border-color:grey; border-width:2px;">
                            CATEGORIES
                        </button>
                        <ul class="dropdown-menu" id="menu" style="width: 89%;text-align: center;">
                            {{#each categories}}
                            <li><a class="dropdown-item" href="" id={{id}}>{{category}}</a></li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
                <div class="row rowItemContainer">
                    {{#if newOutfititems}}
                    <div id="isIt">
                        {{#each newOutfititems }}
                        {{> clothesCard}}
                        {{/each}}
                    </div>
                    {{else}}
                    <div> No Items Found</div>
                    {{/if}}
                </div>
            </div>
        </div>





        <!--col for catalogs, name, and save-->
        <div class="col-md-8">
            <div class="row" style="border-style:solid; background-color: rgb(226, 226, 226);">
                
                
                <div class="container" style="margin-top: 20px; margin-bottom:20px">

                    <div class="row">
                        
                        <div class="col-md-4">
                            <div class="dropdown">
                                <button class="btn btn-outline-secondary dropdown-toggle catalogsBtn" type="button" id="dropdown"
                                    data-bs-toggle="dropdown" aria-expanded="false"
                                    style="padding:10px; margin:2px 0px 5px 0px; background-color: white;">
                                    CATALOGS
                                </button>
                                <ul class="dropdown-menu" id="catalogs" style="width:95%; text-align:center;">
                                    {{#each catalogs}}
                                    <li><a class="dropdown-item" href="" id={{id}}>{{catalog}}</a></li>
                                    {{/each}}
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6" style="padding:0;">
                            <input type="search" class="form-control ds-input" id="outfit-input"
                                placeholder="Outfit Name"
                                style="position: vertical-align: top; text-align:center; margin:2px 0px 5px 0px; border-style:solid; border-color:grey; border-width:2px;" />

                        </div>
                        <div class="container col-md-2">
                            {{!-- <span class="algolia-autocomplete"
                                style="position: relative; display: inline; direction: ltr"></span> --}}
                            <button class="btn btn-outline-secondary" id="saveOutfitBtn" type="submit">SAVE
                            </button>
                        </div>
                        <!-- </div>
                    <div class="row">-->

                    </div>
                </div>
            </div>
            <div class="row rowContainer">
                <ul class="list-group ulContainer" id="outfitlist">

                    {{#if stagings}}
                    {{#each stagings }}
                    <div id="addedItem-card">
                        <img src={{image}} alt={{item_name}} width="200px" height="200px" class="outfit_img">
                        <li class="list-group-item liContainer">{{item_name}}</li>
                        <button class="btn btn-primary" id{{id}}>Delete from
                            Outfit</button>
                    </div>
                    {{/each}}
                    {{/if}}

                </ul>
            </div>
        </div>
    </div>
</div>