<div class="container" id="logo_container">
    <a href="/" id="logo">Style Me</a>
</div>

<div class="container buildOutfit">
    <!--row for h2 title-->
    <div class="row">
        <div class="col-sm-12">
            <h2 class="buildHeader">Build Outfit</h2>
            <h2 class="buildQoute">"Find your best look" </h2>
            <a href="/catalog" class="btn btn-outline-secondary buildBtn">SEE CATALOGS</a>
            <a href="/addnew" class="btn btn-outline-secondary buildBtn">ADD NEW ITEM</a>
        </div>
    </div>


    <div class="row">
        <div class="col-md-4">
            <div class="container">
                <form id="searchOutfit">
                    <div class="row">
                        <span class="algolia-autocomplete"
                            style="position: relative; display: inline-block; direction: ltr"></span>
                        <input type="search" class="form-control ds-input" id="search-input"
                            placeholder="Search Outfits...." style="position: relative; vertical-align: top" />
                    </div>
                </form>
                <div class="row">
                    <div class="dropdown">
                        <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdown"
                            data-bs-toggle="dropdown" aria-expanded="false"
                            style="width: 100%;padding: 10px; position:vertical-align:top; padding-right:20px; margin-left:0%">
                            CATEGORIES
                        </button>
                        <ul class="dropdown-menu" id="menu">
                            {{#each categories}}
                            <li><a class="dropdown-item" href="" id={{id}}>{{category}}</a></li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
                {{#if newOutfititems}}
                <div id="isIt">
                {{#each newOutfititems }}
                {{> clothesCard}}
                {{/each}}
                </div>
                {{else}}
                <div> No Outfits Found</div>
                {{/if}}
            </div>
        </div>





        <!--col for catalogs, name, and save-->
        <div class="col-md-8">
            <div class="row">
                <div class="container">
                    <form id="addOutfit">
                        <div class="row">
                            <div class="col-md-7">
                                <div class="dropdown">
                                    <button class="btn btn-outline-secondary dropdown-toggle" type="button"
                                        id="dropdown" data-bs-toggle="dropdown" aria-expanded="false"
                                        style="padding:30px; margin:0%; margin-botton:0%; width:80%">
                                        CATALOGS
                                    </button>
                                    <ul class="dropdown-menu" id="catalogs">
                                        {{#each catalogs}}
                                        <li><a class="dropdown-item" href="" id={{id}}>{{catalog}}</a></li>
                                        {{/each}}
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <span class="algolia-autocomplete"
                                    style="position: relative; display: inline; direction: ltr"></span>
                                <input type="search" class="form-control ds-input" id="outfit-input"
                                    placeholder="Outfit Name"
                                    style="position: vertical-align: top; text-align:center" />
                                <button class="btn btn-outline-secondary" type="submit"
                                    style="display:inline; width:100%;padding:15px; margin-left:0%">Save
                                </button>
                            </div>
                        </div>

                </div>
            </div>
            <div class="row rowContainer">
                <ul class="list-group ulContainer" id="outfitlist">

                    {{#if stagings}}
                    {{#each stagings }}
                    <div id="addedItem-card">
                    <img src={{image}} alt={{item_name}} width="200px" height="200px" class="outfit_img">
                    <li class="list-group-item liContainer">{{item_name}}</li>
                    <button class="btn btn-primary" id{{id}}>Delete from
                        Outfit</button>
                    </div>
                    {{/each}}
                    {{/if}}

                </ul>
            </div>
        </div>
    </div>
</div>