<div class="container" id="logo_container">
    <a href="/" id="logo">Style Me</a>
</div>

<div class="row">
    <div class="container col-sm-5" id="catalogContainer">
        <h2>Find Catalogs</h2>
    </div>
    <div class="col-sm-5">
        <a href="/buildoutfit" class="btn btn-outline-secondary">Build Outfit</a>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="container">
            <div class="row">
                <span class="algolia-autocomplete"
                    style="position: relative; display: inline-block; direction: ltr"></span>
            </div>
            <div class="row">
                <div class="dropdown">
                    <!--<div id = "menu">
                        {{#each categories}}
                            <li><a class="dropdown-item" href="" id={{id}}>{{Catalogs}}</a></li>
                        {{/each}}
                    </div> -->

                </div>
            </div>
            <div id="catalog-div">

                <ul class="list-group col-sm-12 ulElement" id="cat-list">

                    {{#if catalogs}}
                    {{#each catalogs }}

                    <li class="list-group-item liElement"> <a id={{id}} href="#">{{catalog}}</a></li>

                    {{/each}}
                    {{else}}
                    <div> Sorry no catalog found</div>
                    {{/if}}
                </ul>
            </div>
            <div id="outfit-div">
                <ul class="list-group" id="outfit-list">
                    {{#if outfits}}
                        {{#each outfits }}
                           
                            {{> outfitCard}}
                        {{/each}}
                    {{else}}
                    <div> Sorry no outfit found</div>
                    {{/if}}
                </ul>
            </div>
        </div>

    </div>
    {{!-- <div class="col-sm-2">
        <div class="container">
        </div>
    </div> --}}
</div>


